<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Web site"
    />
    <link rel="apple-touch-icon" href="%PUBLIC_URL%/logo192.png" />
    <!--
      manifest.json provides metadata used when your web app is installed on a
      user's mobile device or desktop. See https://developers.google.com/web/fundamentals/web-app-manifest/
    -->
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
    <title>Hot Dog Stripe Project</title>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <div id="main">
      <h1>Hot Dog Pins for Sale!</h1>
      <h2>Welcome to the number 1 hotdog pin site on your local server!</h2>
        <p>Get your favorite hotdog pin here!</p>
        <a href="/checkout.html"><img src="https://cdn.glitch.com/ab57c8c9-591a-455a-9d41-5b0071d75ead%2Fhotdog-riding-motorcycle-r.png?v=1605479399887" style="margin: auto; max-width: 600px;"></a>
        <a href="/checkout.html">
          <button id="buy-button">Buy your pin only $12!</button>
        </a>
    </div>
  </body>
</html>
